body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#myForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
p {
    margin-left: 5px;
}
#submit {
    margin: 20px auto;
}
table, tr, td {
    margin: 0px auto;
    border: 1px solid black;
    padding: 0px;
    border-spacing: 0px;
    text-align: center;
}
td {
    height: 50px;
    width: 400px;
}